include requirements.txt
include requirements-deeplearning.txt
include requirements-test.txt
include requirements-linting.txt
include environment.yml
include environment-deeplearning.yml
include LICENSE
include CODEOWNERS
recursive-include docs *
recursive-include tests *.py
include dice_ml/utils/sample_trained_models/*
